body{
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 50px;
    margin: 0 auto 65px auto;
}

/* header ******************************/

header {
    width:100%;
    height: 65px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
}

nav {
    margin: 5px 50px 0 0;
    float: right;
}

nav ul li {
    float: left;
    list-style-type: none;
    margin-right: 16px;
    font-weight: bold;
    font-size: larger;
}


nav ul li:hover {
    padding-top: 5px;
}

nav ul li a {
    color:rgb(68, 68, 68);
    text-decoration: none;
}

nav ul li a:hover {
    color:rgb(171, 171, 171);
}

