.button {
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #403e3d;
	border-radius: 50px;
}


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	/*transition: opacity 00ms;*/
	visibility: hidden;
	opacity: 0;
}
/*.overlay:target {
	visibility: visible;
	opacity: 1;
}*/

.overlay.active{
	visibility: visible;
	opacity: 1;
}

.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #254b29;
	border-radius: 5px;
	width: 30%;
	position: relative;
	top: 10%;
	color: lightgray;
	/*transition: all 5s ease-in-out;*/
}
.wrapper h2 {
	margin-top: 0;
	color: lightgray;
}
.wrapper .close {
	/*margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;*/
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 100ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: lightgray;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

/*form*/

.container {
	border-radius: 5px;
	background-color: #254b29;
	padding: 20px 0;
}
form label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #254b29;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background-color:lightgray ;
	color: black;
}
input[type="submit"] {
	background-color: #000000;
	color: lightgray;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;	
}
input[type="submit2"] {
	background-color: #000000;
	color: #fff;
	padding: 10px 5px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;	
	text-align: center;
}
