body{
    margin: 0;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
}

/* header ******************************/
iframe {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 2;
    height:67px;
}

#viewchanger {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 3;
    height: 32px;
    margin-top: 67px;
}
hr{
    width: 50px;
    visibility: hidden;
    margin: 0 auto 97px auto;
}
/* body ******************************/
#tree-box {
    /*border:2px solid white;*/
    width: 100%;
    height:calc(100vh - 100px);
    position: relative;
    background-color: lightgray;
    display: flex;
    /*margin-left: 30px;*/
}
.pet-outer-box{
    border:1px solid lightgray;
    width:15%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
}

#left-pet-outer-box {
    margin-left: 5%;
}

#right-pet-outer-box {
    margin-right: 5%;
}

.pet-box{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: white;
    padding: 5px;
}

.buttonInfo{
	background-color: transparent;
	background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;    
	width:100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

/*SVG*************************/
.svg-outer-box {
    width: 10%;
}


svg {
    width: 100%;
}

.svg1 {
    height: 100%;
}

.svg2 {
    height: 50%;
}

.svg3 {
    height: 25%;
}

line {
    stroke:rgb(0,0,0);
    stroke-width:2;
}