body{
    font-family: 'Roboto', sans-serif;
}

hr{
    width: 50px;
    margin: 0 auto 65px auto;
}

/* header ******************************/

header {
    width:100%;
    height: 30px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size:medium;
}

/* navigation **************************/

nav {
    margin: 0px 50px 0 0;
    float: right;
}

nav ul {
    margin-top: 5px;
}

nav ul li {
    float: left;
    list-style-type: none;
    margin-right: 16px;
    
}


nav ul li:hover {
    padding-top: 3px;
}

nav ul li a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    color:rgb(171, 171, 171);
}

/* Searchbar ************************/
form {
    margin-top: 2px;
    margin-left: 10px;
}

input {
    border-radius: 0px;
    border-width: 1px;
    font-family: 'Roboto', sans-serif;
    color:rgb(68, 68, 68);
    background-color: grey;
    font-weight: bold;
    height: 20px;
}

#submitbutton {
    height: 23.6px;
    color: black;
}

#submitbutton:hover {
    color:rgb(171, 171, 171);
    background-color: gray;
}


